# Environment Variable Templates

MONGO_URL='your_mongo_url'
DB_NAME='your_db_name'
JWT_SECRET_KEY='your_jwt_secret_key'
CORS_ORIGINS='your_cors_origins'
STRIPE_API_KEY='your_stripe_api_key'
RESEND_API_KEY='your_resend_api_key'
SENDER_EMAIL='your_sender_email'